<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%- title %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="Breakode">
    <link rel="stylesheet" href="<%=assets['app.css']%>">
    <%- meta %>
    <%- link %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MEPZ96XL44"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MEPZ96XL44');
    </script>
    <%- script %>
</head>

<body>
    <div id="preloader">
        <div class="loader">
        </div>
    </div>
    <div id="root"><%- component %></div>
    <script defer="defer" src="<%=assets['app.js']%>"></script>
</body>

</html>